In [393]:
import pandas as pd
d=pd.read_csv("Airbnb_Open_Data.csv")

C:\Users\pc\AppData\Local\Temp\ipykernel_3148\2905357050.py:2: DtypeWarning: Columns (11,25) have mixed types. Specify dtype option on import or set low_memory=False.
  d=pd.read_csv("Airbnb_Open_Data.csv")

In [394]:
d

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36734,21289524,"Quick walk to L Train, Free Cleaning & WiFi!",83952723770,unconfirmed,Martin & Steve,Brooklyn,Williamsburg,40.71260,-73.93982,United States,...,$34,30.0,1.0,6/9/2019,1.00,4.0,1.0,84.0,NaN,NaN
36735,21290077,Cozy room in Brooklyn. 40 min to Manhattan.,44927915830,verified,Boris,Brooklyn,Bensonhurst,40.61023,-73.99627,United States,...,$92,1.0,0.0,NaN,NaN,5.0,1.0,0.0,NaN,NaN
36736,21290629,"GORGEOUS APARTMENT, PERFECT HARLEM LOCATION!",75629331969,unconfirmed,Patrice,Manhattan,Harlem,40.80055,-73.95501,United States,...,$200,3.0,16.0,6/14/2019,2.22,5.0,1.0,50.0,NaN,NaN
36737,21291181,Room in a Lovely Apartment in Upper East Side,52222576074,unconfirmed,Amanda & Rafael,Manhattan,Upper East Side,40.76869,-73.95007,United States,...,$233,2.0,8.0,2/10/2019,0.92,3.0,1.0,0.0,NaN,NaN
36738,21291733,Spacious apartment in front of Prospect Park,12167676268,verified,Slava,Brooklyn,Crown Heights,40.66392,-73.95994,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [395]:
d["id"].duplicated().sum()

0

In [99]:
d.duplicated().sum()

0

In [70]:
d.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [253]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36739 entries, 0 to 36738
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36739 non-null  int64
 1   NAME                            36613 non-null  object
 2   host id                         36739 non-null  int64
 3   host_identity_verified          36581 non-null  object
 4   host name                       36507 non-null  object
 5   neighbourhood group             36712 non-null  object
 6   neighbourhood                   36723 non-null  object
 7   lat                             36731 non-null  float64
 8   long                            36731 non-null  float64
 9   country                         36652 non-null  object
 10  country code                    36660 non-null  object
 11  instant_bookable                36660 non-null  object
 12  cancellation_policy             36689 non-null  object
 13  room type                       36739 non-null  object
 14  Construction year               36593 non-null  float64
 15  price                           36641 non-null  object
 16  service fee                     36652 non-null  object
 17  minimum nights                  36541 non-null  float64
 18  number of reviews               36704 non-null  float64
 19  last review                     30871 non-null  object
 20  reviews per month               30885 non-null  float64
 21  review rate number              36615 non-null  float64
 22  calculated host listings count  36655 non-null  float64
 23  availability 365                36560 non-null  float64
 24  house_rules                     24548 non-null  object
 25  license                         1 non-null      object
dtypes: float64(9), int64(2), object(15)
memory usage: 7.3+ MB

In [100]:
d.isnull().sum()

id                                    0
NAME                                126
host id                               0
host_identity_verified              158
host name                           232
neighbourhood group                  27
neighbourhood                        16
lat                                   8
long                                  8
country                              87
country code                         79
instant_bookable                     79
cancellation_policy                  50
room type                             0
Construction year                   146
price                                98
service fee                          87
minimum nights                      198
number of reviews                    35
last review                        5868
reviews per month                  5854
review rate number                  124
calculated host listings count       84
availability 365                    179
house_rules                       12191
license                           36738
dtype: int64

In [396]:
d.dropna(subset="NAME",inplace=True)

In [397]:
d["NAME"].isnull().sum()

0

In [398]:
d["NAME"]=d["NAME"].str.strip()

In [104]:
d

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36734,21289524,"Quick walk to L Train, Free Cleaning & WiFi!",83952723770,unconfirmed,Martin & Steve,Brooklyn,Williamsburg,40.71260,-73.93982,United States,...,$34,30.0,1.0,6/9/2019,1.00,4.0,1.0,84.0,NaN,NaN
36735,21290077,Cozy room in Brooklyn. 40 min to Manhattan.,44927915830,verified,Boris,Brooklyn,Bensonhurst,40.61023,-73.99627,United States,...,$92,1.0,0.0,NaN,NaN,5.0,1.0,0.0,NaN,NaN
36736,21290629,"GORGEOUS APARTMENT, PERFECT HARLEM LOCATION!",75629331969,unconfirmed,Patrice,Manhattan,Harlem,40.80055,-73.95501,United States,...,$200,3.0,16.0,6/14/2019,2.22,5.0,1.0,50.0,NaN,NaN
36737,21291181,Room in a Lovely Apartment in Upper East Side,52222576074,unconfirmed,Amanda & Rafael,Manhattan,Upper East Side,40.76869,-73.95007,United States,...,$233,2.0,8.0,2/10/2019,0.92,3.0,1.0,0.0,NaN,NaN
36738,21291733,Spacious apartment in front of Prospect Park,12167676268,verified,Slava,Brooklyn,Crown Heights,40.66392,-73.95994,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:

d["NAME"].unique()

array(['Clean & quiet apt home by the park', 'Skylit Midtown Castle',
       'THE VILLAGE OF HARLEM....NEW YORK !', ...,
       'GORGEOUS APARTMENT, PERFECT HARLEM LOCATION!',
       'Room in a Lovely Apartment in Upper East Side',
       'Spacious apartment in front of Prospect Park'], dtype=object)

In [342]:
d["NAME"].duplicated().sum()

673

In [399]:
d.dropna(subset="NAME",inplace=True)

In [348]:
d["NAME"].isnull().sum()

0

In [400]:
import re
def fun(n):
    a= re.findall(r"\D+",str(n))
    if len(a)==0:
        return ""
    else:
        return a[0]

In [401]:
d["NAME"]=d["NAME"].apply(fun)

In [261]:
d

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36734,21289524,"Quick walk to L Train, Free Cleaning & WiFi!",83952723770,unconfirmed,Martin & Steve,Brooklyn,Williamsburg,40.71260,-73.93982,United States,...,$34,30.0,1.0,6/9/2019,1.00,4.0,1.0,84.0,NaN,NaN
36735,21290077,Cozy room in Brooklyn.,44927915830,verified,Boris,Brooklyn,Bensonhurst,40.61023,-73.99627,United States,...,$92,1.0,0.0,NaN,NaN,5.0,1.0,0.0,NaN,NaN
36736,21290629,"GORGEOUS APARTMENT, PERFECT HARLEM LOCATION!",75629331969,unconfirmed,Patrice,Manhattan,Harlem,40.80055,-73.95501,United States,...,$200,3.0,16.0,6/14/2019,2.22,5.0,1.0,50.0,NaN,NaN
36737,21291181,Room in a Lovely Apartment in Upper East Side,52222576074,unconfirmed,Amanda & Rafael,Manhattan,Upper East Side,40.76869,-73.95007,United States,...,$233,2.0,8.0,2/10/2019,0.92,3.0,1.0,0.0,NaN,NaN
36738,21291733,Spacious apartment in front of Prospect Park,12167676268,verified,Slava,Brooklyn,Crown Heights,40.66392,-73.95994,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [346]:
d["host id"].isnull().sum()

0

In [118]:
d["host id"].isnull().sum()

0

In [402]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36613 entries, 0 to 36738
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36613 non-null  int64
 1   NAME                            36613 non-null  object
 2   host id                         36613 non-null  int64
 3   host_identity_verified          36467 non-null  object
 4   host name                       36387 non-null  object
 5   neighbourhood group             36588 non-null  object
 6   neighbourhood                   36597 non-null  object
 7   lat                             36605 non-null  float64
 8   long                            36605 non-null  float64
 9   country                         36531 non-null  object
 10  country code                    36542 non-null  object
 11  instant_bookable                36542 non-null  object
 12  cancellation_policy             36568 non-null  object
 13  room type                       36613 non-null  object
 14  Construction year               36475 non-null  float64
 15  price                           36518 non-null  object
 16  service fee                     36526 non-null  object
 17  minimum nights                  36421 non-null  float64
 18  number of reviews               36579 non-null  float64
 19  last review                     30764 non-null  object
 20  reviews per month               30778 non-null  float64
 21  review rate number              36497 non-null  float64
 22  calculated host listings count  36530 non-null  float64
 23  availability 365                36452 non-null  float64
 24  house_rules                     24456 non-null  object
 25  license                         1 non-null      object
dtypes: float64(9), int64(2), object(15)
memory usage: 7.5+ MB

In [403]:
d["host id"].astype(str).str.isnumeric()

0        True
1        True
2        True
4        True
5        True
         ...
36734    True
36735    True
36736    True
36737    True
36738    True
Name: host id, Length: 36613, dtype: bool

In [404]:
d["host id"]=pd.to_numeric(d["host id"],errors="coerce")

In [354]:
d["host id"].isnull().sum()

0

In [405]:
def nonnum(hos):
    return re.findall('\D+',str(hos))
d['host id'].apply(nonnum).sum()

[]

In [356]:
d["host name"].isnull().sum()

226

In [406]:
d.dropna(subset=["host name"],inplace=True)

In [267]:
d["host name"].isnull().sum()

0

In [126]:
d["host name"].unique()

array(['Madaline', 'Jenna', 'Elise', ..., 'Mella & Justin',
       'Martin & Steve', 'Amanda & Rafael'], dtype=object)

In [407]:
def inconsistent(n):
    f=re.findall(r"\W+",str(n))
    if len(f)==0:
        return True
    else:
        return False

In [408]:
d["host name"]=d[d["host name"].apply(inconsistent)]['host name']

In [360]:
d

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
5,1004098,Large Cozy,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,...,$115,3.0,74.0,6/22/2019,0.59,3.0,1.0,374.0,"No smoking, please, and no drugs.",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36734,21289524,"Quick walk to L Train, Free Cleaning & WiFi!",83952723770,unconfirmed,NaN,Brooklyn,Williamsburg,40.71260,-73.93982,United States,...,$34,30.0,1.0,6/9/2019,1.00,4.0,1.0,84.0,NaN,NaN
36735,21290077,Cozy room in Brooklyn.,44927915830,verified,Boris,Brooklyn,Bensonhurst,40.61023,-73.99627,United States,...,$92,1.0,0.0,NaN,NaN,5.0,1.0,0.0,NaN,NaN
36736,21290629,"GORGEOUS APARTMENT, PERFECT HARLEM LOCATION!",75629331969,unconfirmed,Patrice,Manhattan,Harlem,40.80055,-73.95501,United States,...,$200,3.0,16.0,6/14/2019,2.22,5.0,1.0,50.0,NaN,NaN
36737,21291181,Room in a Lovely Apartment in Upper East Side,52222576074,unconfirmed,NaN,Manhattan,Upper East Side,40.76869,-73.95007,United States,...,$233,2.0,8.0,2/10/2019,0.92,3.0,1.0,0.0,NaN,NaN
36738,21291733,Spacious apartment in front of Prospect Park,12167676268,verified,Slava,Brooklyn,Crown Heights,40.66392,-73.95994,United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
d["host name"].unique()

array(['Madaline', 'Jenna', 'Elise', ..., 'Judyann', 'Clarke', 'Shabnam'],
      dtype=object)

In [409]:
d["host name"]=d["host name"].astype("string")

In [410]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36387 entries, 0 to 36738
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36387 non-null  int64
 1   NAME                            36387 non-null  object
 2   host id                         36387 non-null  int64
 3   host_identity_verified          36241 non-null  object
 4   host name                       33935 non-null  string
 5   neighbourhood group             36363 non-null  object
 6   neighbourhood                   36371 non-null  object
 7   lat                             36379 non-null  float64
 8   long                            36379 non-null  float64
 9   country                         36306 non-null  object
 10  country code                    36317 non-null  object
 11  instant_bookable                36317 non-null  object
 12  cancellation_policy             36343 non-null  object
 13  room type                       36387 non-null  object
 14  Construction year               36254 non-null  float64
 15  price                           36292 non-null  object
 16  service fee                     36300 non-null  object
 17  minimum nights                  36195 non-null  float64
 18  number of reviews               36353 non-null  float64
 19  last review                     30586 non-null  object
 20  reviews per month               30600 non-null  float64
 21  review rate number              36275 non-null  float64
 22  calculated host listings count  36304 non-null  float64
 23  availability 365                36236 non-null  float64
 24  house_rules                     24299 non-null  object
 25  license                         1 non-null      object
dtypes: float64(9), int64(2), object(14), string(1)
memory usage: 7.5+ MB

In [411]:
d["host name"]=d["host name"].str.strip()

In [134]:
d["neighbourhood"].isnull().sum()

16

In [412]:
d.dropna(subset="neighbourhood",inplace=True)

In [364]:
d["neighbourhood"].isnull().sum()

0

In [137]:
d["neighbourhood"].unique()

array(['Kensington', 'Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       'Bedford-Stuyvesant', "Hell's Kitchen", 'Upper West Side',
       'Chinatown', 'South Slope', 'West Village', 'Williamsburg',
       'Fort Greene', 'Chelsea', 'Crown Heights', 'Park Slope',
       'Windsor Terrace', 'Inwood', 'East Village', 'Greenpoint',
       'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'Clinton Hill', 'Washington Heights', 'Upper East Side',
       'Woodside', 'Brooklyn Heights', 'Prospect Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Little Italy', 'East Flatbush', 'Tompkinsville', 'Astoria',
       'Clason Point', 'Eastchester', 'Kingsbridge', 'Two Bridges',
       'Queens Village', 'Rockaway Beach', 'Forest Hills', 'Nolita',
       'Greenwich Village', 'Woodlawn', 'SoHo', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Jamaica', 'Battery Park City',
       'Civic Center', 'East Elmhurst', 'New Springville',
       'Morris Heights', 'Arverne', 'Cambria Heights', 'Tottenville',
       'Mariners Harbor', 'Concord', 'Borough Park', 'Bayside',
       'Downtown Brooklyn', 'Port Morris', 'Fieldston', 'Kew Gardens',
       'Midwood', 'College Point', 'Mount Eden', 'City Island',
       'Glendale', 'Port Richmond', 'Red Hook', 'Richmond Hill',
       'Bellerose', 'Maspeth', 'Williamsbridge', 'Soundview', 'Woodhaven',
       'Woodrow', 'Co-op City', 'Stuyvesant Town', 'Parkchester',
       'North Riverdale', 'Dyker Heights', 'Bronxdale', 'Sea Gate',
       'Riverdale', 'Kew Gardens Hills', 'Bay Terrace', 'Norwood',
       'Claremont Village', 'Whitestone', 'Fordham', 'Bayswater',
       'Navy Yard', 'Brownsville', 'Eltingville', 'Fresh Meadows',
       'Mount Hope', 'Lighthouse Hill', 'Springfield Gardens',
       'Howard Beach', 'Belle Harbor', 'Jamaica Estates', 'Van Nest',
       'Morris Park', 'West Brighton', 'Far Rockaway', 'South Ozone Park',
       'Tremont', 'Corona', 'Great Kills', 'Manhattan Beach',
       'Marble Hill', 'Dongan Hills', 'Castleton Corners',
       'East Morrisania', 'Hunts Point', 'Neponsit', 'Pelham Bay',
       'Randall Manor', 'Throgs Neck', 'Todt Hill', 'West Farms',
       'Silver Lake', 'Morrisania', 'Laurelton', 'Grymes Hill',
       'Holliswood', 'Pelham Gardens', 'Belmont', 'Rosedale', 'Edgemere',
       'New Brighton', 'Midland Beach', 'Baychester', 'Melrose',
       'Bergen Beach', 'Richmondtown', 'Howland Hook', 'Schuylerville',
       'Coney Island', 'New Dorp Beach', "Prince's Bay", 'South Beach',
       'Bath Beach', 'Jamaica Hills', 'Oakwood', 'Castle Hill', 'Hollis',
       'Douglaston', 'Huguenot', 'Olinville', 'Edenwald', 'Grant City',
       'Westerleigh', 'Bay Terrace, Staten Island', 'Westchester Square',
       'Little Neck', 'Fort Wadsworth', 'Rosebank', 'Unionport',
       'Mill Basin', 'Arden Heights', "Bull's Head", 'New Dorp',
       'Rossville', 'Breezy Point', 'Willowbrook'], dtype=object)

In [413]:
d["neighbourhood"]=d["neighbourhood"].str.capitalize()

In [414]:
d["neighbourhood"]=d["neighbourhood"].str.title()

In [140]:
d.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [141]:
d.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified              146
host name                          2452
neighbourhood group                  24
neighbourhood                         0
lat                                   8
long                                  8
country                              79
country code                         68
instant_bookable                     68
cancellation_policy                  42
room type                             0
Construction year                   133
price                                94
service fee                          87
minimum nights                      191
number of reviews                    34
last review                        5801
reviews per month                  5787
review rate number                  112
calculated host listings count       83
availability 365                    150
house_rules                       12082
license                           36370
dtype: int64

In [415]:
d.dropna(subset=["lat","long"],inplace=True)

In [368]:
d[["lat","long"]].isnull().sum()

lat     0
long    0
dtype: int64

In [416]:
def rang(n):
    if -90<n<90:
        return n

In [417]:
d["lat"]=d["lat"].apply(rang)

In [418]:
d["lat"]

0        40.64749
1        40.75362
2        40.80902
4        40.79851
5        40.74767
           ...
36734    40.71260
36735    40.61023
36736    40.80055
36737    40.76869
36738    40.66392
Name: lat, Length: 36363, dtype: float64

In [423]:
d["long"]

0       -73.97237
1       -73.98377
2       -73.94190
4       -73.94399
5       -73.97500
           ...
36734   -73.93982
36735   -73.99627
36736   -73.95501
36737   -73.95007
36738   -73.95994
Name: long, Length: 36363, dtype: float64

In [420]:
def rrang(n):
    if -180<n<180:
        return n

In [422]:
d["long"]=d["long"].apply(rrang)

In [378]:
d["country"].isnull().sum()

79

In [154]:
d["country"].unique()

array(['United States', nan], dtype=object)

In [424]:
d.dropna(subset=["country","country code","instant_bookable","cancellation_policy"],inplace=True)

In [426]:
d.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified              142
host name                          2452
neighbourhood group                  23
neighbourhood                         0
lat                                   0
long                                  0
country                               0
country code                          0
instant_bookable                      0
cancellation_policy                   0
room type                             0
Construction year                   128
price                                90
service fee                          83
minimum nights                      186
number of reviews                    34
last review                        5789
reviews per month                  5779
review rate number                  101
calculated host listings count       83
availability 365                    145
house_rules                       12048
license                           36257
dtype: int64

In [425]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36258 entries, 0 to 36738
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              36258 non-null  int64
 1   NAME                            36258 non-null  object
 2   host id                         36258 non-null  int64
 3   host_identity_verified          36116 non-null  object
 4   host name                       33806 non-null  string
 5   neighbourhood group             36235 non-null  object
 6   neighbourhood                   36258 non-null  object
 7   lat                             36258 non-null  float64
 8   long                            36258 non-null  float64
 9   country                         36258 non-null  object
 10  country code                    36258 non-null  object
 11  instant_bookable                36258 non-null  object
 12  cancellation_policy             36258 non-null  object
 13  room type                       36258 non-null  object
 14  Construction year               36130 non-null  float64
 15  price                           36168 non-null  object
 16  service fee                     36175 non-null  object
 17  minimum nights                  36072 non-null  float64
 18  number of reviews               36224 non-null  float64
 19  last review                     30469 non-null  object
 20  reviews per month               30479 non-null  float64
 21  review rate number              36157 non-null  float64
 22  calculated host listings count  36175 non-null  float64
 23  availability 365                36113 non-null  float64
 24  house_rules                     24210 non-null  object
 25  license                         1 non-null      object
dtypes: float64(9), int64(2), object(14), string(1)
memory usage: 7.5+ MB

In [166]:
d["room type"].isnull().sum()

0

In [167]:
d["room type"].unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [427]:
def cap(m):
    return m.title()

In [428]:
d["room type"]=d["room type"].apply(cap)

In [171]:
d["room type"].unique()

array(['Private Room', 'Entire Home/Apt', 'Shared Room'], dtype=object)

In [175]:
d["Construction year"].unique()

array([2020., 2007., 2005., 2009., 2013., 2015., 2004., 2008., 2010.,
       2019., 2018., 2016., 2003., 2011., 2012., 2017., 2006., 2022.,
       2014., 2021.,   nan])

In [176]:
d["Construction year"].isnull().sum()

128

In [429]:
d.dropna(subset=["Construction year"],inplace=True)

In [179]:
d["Construction year"].isnull().sum()

0

In [430]:
d["Construction year"]=d['Construction year'].astype(int)

In [184]:
d["Construction year"].unique()

array([2020, 2007, 2005, 2009, 2013, 2015, 2004, 2008, 2010, 2019, 2018,
       2016, 2003, 2011, 2012, 2017, 2006, 2022, 2014, 2021])

In [186]:
d["price"].unique()

array(['$966 ', '$142 ', '$620 ', ..., '$905 ', '$309 ', '$770 '],
      dtype=object)

In [441]:
d.dropna(subset=["price"],inplace=True)

In [442]:
d["price"].isnull().sum()

0

In [443]:
import re
def clean(n):
    a=re.findall(r"\d+",str(n))
    return a[0]

In [445]:
d["price"]=d["price"].apply(clean)

In [433]:
d["price"]=d["price"].str.replace(",","")

In [434]:
d["price"]

0         $966
1         $142
2         $620
4         $204
5         $577
          ...
36734     $172
36735     $458
36736    $1000
36737    $1165
36738    $1142
Name: price, Length: 36130, dtype: object

In [460]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35964 entries, 0 to 36737
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35964 non-null  int64
 1   NAME                            35964 non-null  object
 2   host id                         35964 non-null  int64
 3   host_identity_verified          35838 non-null  object
 4   host name                       33525 non-null  string
 5   neighbourhood group             35945 non-null  object
 6   neighbourhood                   35964 non-null  object
 7   lat                             35964 non-null  float64
 8   long                            35964 non-null  float64
 9   country                         35964 non-null  object
 10  country code                    35964 non-null  object
 11  instant_bookable                35964 non-null  object
 12  cancellation_policy             35964 non-null  object
 13  room type                       35964 non-null  object
 14  Construction year               35964 non-null  int32
 15  price                           35964 non-null  int32
 16  service fee                     35964 non-null  int32
 17  minimum nights                  35791 non-null  float64
 18  number of reviews               35932 non-null  float64
 19  last review                     30215 non-null  object
 20  reviews per month               30221 non-null  float64
 21  review rate number              35870 non-null  float64
 22  calculated host listings count  35884 non-null  float64
 23  availability 365                35832 non-null  float64
 24  house_rules                     24009 non-null  object
 25  license                         1 non-null      object
dtypes: float64(8), int32(3), int64(2), object(12), string(1)
memory usage: 7.0+ MB

In [449]:
d["price"]=d["price"].astype(int)

In [457]:
d["service fee"].unique()

array(['$193 ', '$28 ', '$124 ', '$41 ', '$115 ', '$14 ', '$212 ',
       '$204 ', '$58 ', '$64 ', '$121 ', '$116 ', '$30 ', '$38 ', '$222 ',
       '$219 ', '$202 ', '$113 ', '$74 ', '$137 ', '$171 ', '$12 ',
       '$87 ', '$183 ', '$92 ', '$73 ', '$42 ', '$146 ', '$180 ', '$67 ',
       '$51 ', '$181 ', '$88 ', '$165 ', '$129 ', '$207 ', '$17 ', '$63 ',
       '$147 ', '$105 ', '$48 ', '$114 ', '$80 ', '$23 ', '$11 ', '$149 ',
       '$213 ', '$211 ', '$182 ', '$117 ', '$39 ', '$25 ', '$216 ',
       '$53 ', '$10 ', '$118 ', '$72 ', '$168 ', '$106 ', '$13 ', '$152 ',
       '$126 ', '$135 ', '$46 ', '$199 ', '$158 ', '$221 ', '$132 ',
       '$189 ', '$90 ', '$186 ', '$66 ', '$225 ', '$19 ', '$238 ',
       '$119 ', '$98 ', '$34 ', '$227 ', '$32 ', '$101 ', '$77 ', '$190 ',
       '$75 ', '$185 ', '$203 ', '$97 ', '$35 ', '$37 ', '$231 ', '$133 ',
       '$82 ', '$120 ', '$21 ', '$145 ', '$65 ', '$100 ', '$144 ',
       '$108 ', '$50 ', '$26 ', '$89 ', '$218 ', '$104 ', '$44 ', '$79 ',
       '$163 ', '$22 ', '$131 ', '$102 ', '$240 ', '$215 ', '$191 ',
       '$16 ', '$94 ', '$206 ', '$157 ', '$159 ', '$233 ', '$109 ',
       '$15 ', '$229 ', '$179 ', '$85 ', '$136 ', '$170 ', '$201 ',
       '$175 ', '$194 ', '$192 ', '$123 ', '$36 ', '$198 ', '$122 ',
       '$208 ', '$140 ', '$148 ', '$68 ', '$196 ', '$70 ', '$228 ',
       '$209 ', '$134 ', '$20 ', '$110 ', '$234 ', '$151 ', '$172 ',
       '$107 ', '$138 ', '$139 ', '$217 ', '$31 ', '$156 ', '$86 ',
       '$45 ', '$220 ', '$162 ', '$187 ', '$93 ', '$143 ', '$239 ',
       '$184 ', '$161 ', '$200 ', '$33 ', '$83 ', '$91 ', '$55 ', '$128 ',
       '$210 ', '$166 ', '$125 ', '$54 ', '$43 ', '$18 ', '$167 ',
       '$236 ', '$69 ', '$111 ', '$142 ', '$24 ', '$141 ', '$223 ',
       '$71 ', '$169 ', '$95 ', '$29 ', '$195 ', '$76 ', '$40 ', '$49 ',
       '$232 ', '$205 ', '$153 ', '$27 ', '$52 ', '$197 ', '$164 ',
       '$127 ', '$176 ', '$62 ', '$59 ', '$99 ', '$56 ', '$84 ', '$237 ',
       '$178 ', '$103 ', '$224 ', '$130 ', '$47 ', '$155 ', '$57 ',
       '$177 ', '$226 ', '$160 ', '$173 ', '$81 ', '$61 ', '$60 ',
       '$235 ', '$154 ', '$96 ', '$214 ', '$150 ', '$78 ', '$230 ',
       '$188 ', '$112 ', '$174 '], dtype=object)

In [454]:
d.dropna(subset=["service fee"],inplace=True)

In [455]:
d["service fee"].isnull().sum()

0

In [458]:
d["service fee"]=d["service fee"].apply(clean)

In [459]:
d["service fee"]=d["service fee"].astype(int)

In [462]:
d["minimum nights"].unique()

array([ 1.000e+01,  3.000e+01,  3.000e+00,  4.500e+01,  2.000e+00,
        1.000e+00,  5.000e+00,  4.000e+00,  6.000e+01,  7.000e+00,
        9.000e+00,  3.100e+01,  6.000e+00,  1.500e+01,  8.000e+00,
        4.700e+01,  8.100e+01,  1.440e+02,  3.710e+02,  1.490e+02,
        2.730e+02,  1.310e+02,  2.750e+02,  3.230e+02,  5.900e+01,
        9.900e+01,  2.680e+02, -1.000e+01,  1.890e+02,  3.400e+02,
        1.280e+02,  3.500e+02,  1.660e+02,  1.100e+02,  1.420e+02,
        3.660e+02,  1.400e+01,  2.000e+02,  5.000e+01,  3.990e+02,
        1.100e+01,  4.520e+02,  1.300e+01,  3.455e+03,  2.100e+01,
        2.700e+01,  1.800e+01, -1.000e+00,  2.000e+01, -1.200e+01,
        4.000e+01,  4.400e+01,  3.980e+02, -2.000e+00,  2.800e+01,
        6.500e+01, -3.000e+00,  9.000e+01,  2.900e+01,  5.500e+01,
        1.200e+02,  3.650e+02,  1.800e+02,  1.220e+02,  1.900e+01,
        2.400e+02,  8.800e+01,  1.150e+02,  1.500e+02,  3.700e+02,
        1.600e+01,  1.810e+02,  2.600e+01,  8.000e+01,  2.500e+01,
        2.650e+02,  3.000e+02,  1.700e+01,  1.850e+02,  3.600e+02,
        5.600e+01,  1.200e+01,  7.000e+01,  3.900e+01,  2.400e+01,
        3.200e+01,  2.700e+02,  2.200e+01,  7.500e+01,  2.500e+02,
        6.200e+01,  2.300e+01,  1.250e+03,  7.400e+01,  1.980e+02,
        1.000e+02,  5.000e+02,  4.300e+01,  3.500e+01,  9.100e+01,
        4.800e+02,  5.300e+01,  1.600e+02,  9.990e+02,  1.860e+02,
        6.800e+01,  9.300e+01,  8.700e+01,  1.830e+02,  2.990e+02,
        1.750e+02,  9.800e+01,  1.330e+02,  3.540e+02,  4.200e+01,
        3.300e+01,  3.700e+01,  2.250e+02,  4.000e+02,  1.050e+02])

In [472]:
d.dropna(subset="minimum nights",inplace=True)

In [465]:
d["minimum nights"]=d["minimum nights"].apply(positive)

In [473]:
d["minimum nights"].isnull().sum()

0

In [475]:
d["minimum nights"]=d["minimum nights"].astype(int)

In [476]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35785 entries, 0 to 36737
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35785 non-null  int64
 1   NAME                            35785 non-null  object
 2   host id                         35785 non-null  int64
 3   host_identity_verified          35661 non-null  object
 4   host name                       33351 non-null  string
 5   neighbourhood group             35766 non-null  object
 6   neighbourhood                   35785 non-null  object
 7   lat                             35785 non-null  float64
 8   long                            35785 non-null  float64
 9   country                         35785 non-null  object
 10  country code                    35785 non-null  object
 11  instant_bookable                35785 non-null  object
 12  cancellation_policy             35785 non-null  object
 13  room type                       35785 non-null  object
 14  Construction year               35785 non-null  int32
 15  price                           35785 non-null  int32
 16  service fee                     35785 non-null  int32
 17  minimum nights                  35785 non-null  int32
 18  number of reviews               35754 non-null  float64
 19  last review                     30064 non-null  object
 20  reviews per month               30066 non-null  float64
 21  review rate number              35703 non-null  float64
 22  calculated host listings count  35705 non-null  float64
 23  availability 365                35670 non-null  float64
 24  house_rules                     23885 non-null  object
 25  license                         1 non-null      object
dtypes: float64(7), int32(4), int64(2), object(12), string(1)
memory usage: 6.8+ MB

In [197]:
d["number of reviews"].unique()

array([  9.,  45.,   0.,  74.,  49., 430., 118., 160.,  53., 167., 113.,
        27., 168., 231., 214., 245.,  15.,  25.,  81.,  97.,  11., 248.,
        61., 135., 112.,  73.,  82., 328.,  19., 105., 191.,   4., 338.,
       148., 106., 190.,  23.,  21., 142., 143.,  54.,  70.,  16.,  94.,
       194.,   2., 174.,  24., 166.,  29., 170., 334.,  12., 467.,   7.,
        38., 324., 195.,  13.,  36.,  63., 155., 260., 193., 426., 227.,
        84.,  nan,  10.,   1., 124., 240.,  30., 200.,  79.,  34.,  14.,
        80., 294., 150.,  47., 219., 114., 213.,  86.,  18., 206., 122.,
        52., 126.,  51., 199.,   3., 138., 204., 253., 115., 129.,  37.,
        69., 192.,  17., 222., 205., 108., 458.,  41., 189.,  35., 171.,
        92., 238.,  56., 111., 147., 177., 185.,  62., 181., 333., 441.,
       203., 210.,  64.,   5., 132.,  20.,  67.,  93., 104., 127.,   6.,
        48., 120.,  50.,  59.,  68.,  31., 198., 220., 286., 398.,  76.,
       182.,   8.,  66.,  46., 218.,  42., 131., 136.,  43.,  98., 380.,
       163., 247., 116.,  39., 403.,  22., 197., 414., 119., 175.,  88.,
       117., 103.,  57., 188., 480., 101., 241.,  90.,  99., 271., 187.,
        33., 179., 225., 401.,  72., 207., 273.,  58., 330., 123.,  55.,
        87., 258., 128., 228., 152.,  32., 278., 235., 305., 102.,  83.,
        89.,  65.,  40., 100., 125., 139., 242., 229., 107., 176., 151.,
       178., 216., 233., 314., 153., 110.,  26., 244., 270.,  28., 130.,
       208., 232., 121., 209.,  75.,  44., 158., 236., 215., 320.,  78.,
       297., 202.,  77., 265., 156., 272., 268., 133., 165., 269., 243.,
       134., 137., 145., 289., 339., 109., 454., 230., 154., 144., 439.,
       261., 319., 162., 280., 184., 451., 169.,  60., 266., 251., 183.,
       141., 304., 474.,  85., 221., 201., 321., 250., 254., 161., 323.,
       347., 211., 296.,  96., 173., 295., 404., 326., 363., 146., 164.,
       327., 237., 353.,  91., 302., 276., 186., 322., 267., 540., 224.,
       291.,  71., 315., 313., 594., 597., 607., 157., 287., 159., 395.,
       447., 226., 281., 356.,  95., 360., 279., 349., 246., 308., 292.,
       140., 284., 374., 172., 196., 149., 212., 285., 274., 340., 386.,
       336., 249., 275., 259., 252., 263., 298., 288., 234., 255., 365.,
       257., 217., 488., 332., 358., 180., 277., 389., 372., 299., 239.,
       394., 357., 223., 350., 352., 351., 262., 318., 307., 325., 282.,
       396., 466., 397., 290., 448., 424., 408., 309., 543., 264., 629.,
       576., 256., 459., 375., 412., 378., 411., 434., 510., 306., 392.,
       417., 368., 436., 310., 341.])

In [477]:
def positive(n):
    if n==0 or n>0:
        return n

In [478]:
d["number of reviews"]=d["number of reviews"].apply(positive)

In [479]:
d.dropna(subset=["number of reviews"],inplace=True)

In [480]:
d["number of reviews"].isnull().sum()

0

In [481]:
d["number of reviews"]=d["number of reviews"].astype(int)

In [482]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35754 entries, 0 to 36737
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35754 non-null  int64
 1   NAME                            35754 non-null  object
 2   host id                         35754 non-null  int64
 3   host_identity_verified          35630 non-null  object
 4   host name                       33320 non-null  string
 5   neighbourhood group             35735 non-null  object
 6   neighbourhood                   35754 non-null  object
 7   lat                             35754 non-null  float64
 8   long                            35754 non-null  float64
 9   country                         35754 non-null  object
 10  country code                    35754 non-null  object
 11  instant_bookable                35754 non-null  object
 12  cancellation_policy             35754 non-null  object
 13  room type                       35754 non-null  object
 14  Construction year               35754 non-null  int32
 15  price                           35754 non-null  int32
 16  service fee                     35754 non-null  int32
 17  minimum nights                  35754 non-null  int32
 18  number of reviews               35754 non-null  int32
 19  last review                     30037 non-null  object
 20  reviews per month               30039 non-null  float64
 21  review rate number              35672 non-null  float64
 22  calculated host listings count  35674 non-null  float64
 23  availability 365                35639 non-null  float64
 24  house_rules                     23866 non-null  object
 25  license                         1 non-null      object
dtypes: float64(6), int32(5), int64(2), object(12), string(1)
memory usage: 6.7+ MB

In [483]:
d["last review"].unique()

array(['10/19/2021', '5/21/2022', nan, ..., '12/23/2017', '1/29/2018',
       '3/29/2018'], dtype=object)

In [484]:
d["last review"].isnull().sum()

5717

In [485]:
d.dropna(subset=["last review"],inplace=True)

In [486]:
d["last review"].isnull().sum()

0

In [487]:
d["last review"]=pd.to_datetime(d["last review"])

In [488]:
d["availability 365"].unique()

array([286., 228., 289., 374., 224., 219., 180., 375.,   1., 163.,  47.,
        68.,  76., 416., 214., 110., 354.,  33., 405.,  86., 152.,  nan,
        82.,  83., 258., 400.,  34., 203., 280., 417., 162., 169., 173.,
       146., 243., 425., 113., 260., 395., 266.,  58., 410., 388.,  13.,
        62., 334., 166.,  18., 130.,  43., 190., 335.,  52.,  70., 311.,
       141.,  -1., 263., 200., 144., 320., 293., 240.,  96., 300., 332.,
       138., 327., 361., 341., 353., 213.,  19.,  78., 188., 338.,  66.,
       322.,  80., 382.,   0., 319.,  50., 118., 350.,  85., 248., 230.,
       145., 267., 407., 206., 295.,  16., 351., 397., 276., 398., 135.,
       315., 105.,  87., 189.,  81.,  42., 177., 245., 386., 247., 394.,
       179., 312., 150., 419., 256., 380., 270.,  45., 336., 176., 379.,
        35., 210., 264., 402.,  53., 252.,   5., 362., 238.,  61., 318.,
       140., 107., 117.,  84., 291., 132., 325., 331., 283., 114., 376.,
       211., 112., 296., 181., 193., 100., 231., 399.,  75., 182., 253.,
       191., 414., 326., 389.,  -9.,   9., 147., 345., 186., 187., 268.,
       209.,  88., 420., 369., 171.,  -4., 301., 129., 313., 292.,  30.,
        97.,  95., 373., 236.,  -8., 251., 324.,  93., 103.,  91., 259.,
       384., 122., 411.,   7.,  29., 265., 392., 175., 303., 233.,  -6.,
        69., 119., 367., 239., 149.,  39., 387., 321., 302.,   3., 183.,
         8., 297.,  32., 355., 250., 164.,  67., 109., 364., 372.,  -2.,
       418., 365., 167., 178., 381.,  14., 370., 254., 396.,  73., 333.,
       404.,  26.,  64., 246., 261.,  92., 142., 272.,  10., 212., 339.,
        28., 309., 174., 232., 133.,  17., 287.,  27., 106., 316., 108.,
       168., 278., 378., 125.,  57., 226.,  36., 139., 225., 205.,  -5.,
       281., 244., 131., 137.,  25., 195.,  37., 104., 279., 201.,  11.,
       116., 115., 274., 215., 134.,   6., 194., 294., 111., 217., 422.,
       196., 220., 218., 393., 155.,  15.,  65., 158.,  79., 421., 185.,
       408., 156.,  90.,   2., 275., 347., 192., 348., 330., 207., 310.,
         4.,  98., 154.,  23., 357.,  44., 143., 299., 413., 282., 290.,
       323., 221., 255., 406.,  38., 160.,  55., 249., 235., 202.,  72.,
       277.,  21.,  74., 222., 409., 368.,  12., 352.,  60., 170., 241.,
       328.,  41.,  89., 128., 121., 337., 356., 165., 197., 314., 198.,
       423., 412., 358.,  59., 123., 229.,  -3., 385.,  77., 305., 237.,
        20.,  24., 223., 307., 159., 359.,  22.,  71.,  99., 234., 271.,
        46.,  31., 257., 227., 340., 285., 306., 273.,  51., 377.,  56.,
       184., 208., 284., 136., 391.,  49., 151., 127., 343., 308., 148.,
        63., 401.,  94., 124., 317., 304., 101., 204., 426., 161., 366.,
       242., 298., 216.,  40., 363., 360., 344., 329., 157., 262., 383.,
       153., 390., 172., 349., 346., 102., -10., 342.,  54., 403.,  48.,
       199., 371., 269., 424., 126., 120., 288.,  -7., 415.])

In [505]:
d["availability 365"].isnull().sum()

0

In [503]:
d.dropna(subset=["availability 365"],inplace=True)

In [504]:
d["availability 365"].isnull().sum()

0

In [506]:
d["availability 365"]=d["availability 365"].astype(int)

In [507]:
d["availability 365"]=d[d["availability 365"].apply(lambda x:True if 0<x<365 else False)]["availability 365"]

In [508]:
d.dropna(subset="reviews per month",inplace=True)

In [509]:
d["reviews per month"]=d["reviews per month"].astype(int)

In [510]:
d["reviews per month"]=d["reviews per month"].apply(positive)

In [511]:
d["reviews per month"].unique()

array([ 0,  3,  1,  2,  4,  6,  5, 10,  7,  8, 13,  9, 14, 11, 12, 16, 19,
       17, 15], dtype=int64)

In [499]:
d.drop(columns=["license","house_rules","calculated host listings count","review rate number","host_identity_verified","neighbourhood group"],inplace=True)

In [512]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21674 entries, 0 to 36736
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   21674 non-null  int64
 1   NAME                 21674 non-null  object
 2   host id              21674 non-null  int64
 3   host name            19896 non-null  string
 4   neighbourhood        21674 non-null  object
 5   lat                  21674 non-null  float64
 6   long                 21674 non-null  float64
 7   country              21674 non-null  object
 8   country code         21674 non-null  object
 9   instant_bookable     21674 non-null  object
 10  cancellation_policy  21674 non-null  object
 11  room type            21674 non-null  object
 12  Construction year    21674 non-null  int32
 13  price                21674 non-null  int32
 14  service fee          21674 non-null  int32
 15  minimum nights       21674 non-null  int32
 16  number of reviews    21674 non-null  int32
 17  last review          21674 non-null  datetime64[ns]
 18  reviews per month    21674 non-null  int64
 19  availability 365     21674 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(6), int64(3), object(7), string(1)
memory usage: 3.0+ MB